version: "3.2"
services:
  registry:
    image: "springboot.azurecr.io/spring/docker_registry"
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
        window: 120s
      placement:
        constraints: [node.role == manager]
    ports:
      - "8600:8600"